	<section class="related-product-area">
		<div class="container">
			<div class="section-intro pb-60px">
        <p>Popular Item in the market</p>
        <h2>Top <span class="section-intro__style">Product</span></h2>
      </div>
			<div class="row mt-30">
        {{#each topProducts}}
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            {{#each this}}
            <div class="single-search-product d-flex">
              <a href="/products/{{id}}"><img src="{{imagepath}}" alt=""></a>
              <div class="desc">
                  <a href="/products/{{id}}" class="title">{{name}}</a>
                  <div class="price">${{price}}</div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
		</div>
	</section>